@import "../../mixins";

.loginpage {
  @include main-style();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://images.pexels.com/photos/270408/pexels-photo-270408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center fixed;
  background-size: cover;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 500px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    label {
      font-size: 1.2rem;
      color: #333;
      margin-bottom: 0.5rem;
      text-align: left;
    }

    input,
    select {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      font-size: 1.2rem;
      &:focus {
        outline: none;
        border-color: #3f51b5;
      }
    }

    button {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      font-size: 1.2rem;
      background-color: #3f51b5;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #303f9f;
      }
    }
    .typography-style {
        font-size: 1.2rem;
        color: #3f51b5;
        cursor: pointer;
        margin-top: 1rem;
      }
  }
}
